body{
    background-color: rgba(255, 0, 170, 0.466);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    text-align: center;

}

