body{
    background-color: white;
}

.img-cabeçalho{
    height: 400px;
}
.cabeçalho{
    display: flex;
}
.principal{
    background-image: linear-gradient(rgb(77, 76, 76) ,pink);
    display: flex;
    justify-content: center
    align-items:center
}
.imagem-principal{
    width: 435px;
}

.div-principal{
    width: 55%;
}
.paragrafo{
    text-align: justify;
}